.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "media"
    "button"
    "footer";
  row-gap: 0.5rem;
  margin: 0.5rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  box-shadow: 5px 5px darkgrey;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: whitesmoke;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  transform: scale(1.05);
}
.data {
  display: grid;
  grid-area: button;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
}
.data a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: whitesmoke;
  font-weight: bold;
}
.data a:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px grey;
  color: #0070f3;
}
.media {
  display: grid;
  grid-area: media;
  grid-template-columns: 1fr;
}
.media img {
  width: 100%;
  border-radius: 5px;
}

.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 0.1fr 1fr;
  column-gap: 1rem;
}
.header h3 {
  text-align: start;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.bottom {
  display: grid;
  grid-area: footer;
  grid-template-columns: 0.8fr 1fr;
  margin: 0;
  align-content: flex-end;
}
.credit {
  justify-self: end;
}
.credit h5,
.bottom h5 {
  margin: 0;
}
